<!DOCTYPE html>
<html lang="en">
<head>
   {% load static %}
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale= 1.0">
   <link rel="stylesheet" href="{% static 'css/style.css' %}">
   <title>WAMBUGU AND SONS</title>
</head>


<body>
    <div class="container">
        <h1>WAMBUGU</h1>
    <img src="{% static 'image/IMG-20240117-WA0019.jpg' %}" class="image" 
    style="width: 180px; margin-bottom= -50px;" /> 

    <div class="subscribe_box">
    <form action="" method="emailadd">{% csrf_token %}
        <div class="formbox">
            <input type="text" name="eamail address" placeholder="enter email adress">
            <button type="submit">subscribe</button>

        </div>
    </form>
    </div>
    </div>
</body>
</html>